<div id="recent_articles">
  <h3>Latest Articles</h3>
  <ul>
  <% for entry in @entries %>
    <li>
      <%= link_to h(entry.title), entry.url, target: "_blank" %>

    </li>
  <% end %>
  </ul>
</div>
